<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTempest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>021E39B01F9DAB1700FFAB2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>021E39CE1F9DAB1700FFAB2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>021E39D91F9DAB1700FFAB2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
